<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/Loby.css">
  <!--    <link href="styles.css" rel="stylesheet"> -->
  <style>
    a{
      display: block;
      width: 100px;
      font-family: Arial;
      font-weight: 700;
      background-color: #2695a9;
      border-radius: 10px;
      padding: 5px 5px;
      color: #000000;
      text-decoration: none;
      text-align: center;
    }
    a:hover{
      background-color: #5b5b5b;
      border: 2px;
      color: #ffffff;
    }
  </style>
</head>
<body>
<div class="login-box">
  <h1>Aplicativo</h1>
  <form>
    <br>
    <div>
      <a href="empresa.html" type="button" class="btn btn-primary btn-lg px-5 gap-3">Empresa</a>
    </div>
    <br>
    <div>
      <a href="empleado.html" type="button" class="btn btn-primary btn-lg px-5 gap-3">Empleados</a>
    </div>
    <br>
    <div>
      <a href="movimiento.html" type="button" class="btn btn-primary btn-lg px-5 gap-3">Movimientos</a>
    </div>
    <br>
    <div>
      <a href="index.html" type="button" class="btn btn-outline-secondary btn-lg px-5">Volver</a>
    </div>
</div>
</div>
</form>
</body>
</html>